<div class="background">
  <navbar></navbar>

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Tonight plans</h1>
      <p class="lead">Don't have any plans? See if you can find something around you</p>

      <form novalidate>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for locations with Yelp..." ng-model="main.searchString">
          <span class="input-group-btn">
            <button class="btn btn-default btn-search" type="submit" ng-click="main.search(main.searchString)">Search</button>
          </span>
        </div>
      </form>
    </div>
  </header>
</div>

<section class="container">
  <div class="text-center" ng-show="main.loading">
    <b>Loading...</b>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-3 place" ng-repeat="place in main.places">
      <div class="thumbnail">
        <img ng-src="{{ place.image }}" alt="{{ place.name }}" alt="...">
        <div class="circle"></div>
        <div class="caption">
          <h3>{{ place.name }}</h3>
          <p class="review">{{ place.review }}</p>
          <p><a href="#" class="btn btn-primary btn-block going" role="button" ng-click="main.patch(place)">{{ place.users.length }} Going</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer></footer>
